
.idea
.vscode
.DS_Store
node_modules
Thumbs.db
dist
_junk/

*~
.history
*.test
*.log
*.iml
*.zip
*.orig
*.rej
*.swp
*.tmp
*.o
*.a
*.obj
*.d
*.Po
autom4te.cache

/GOPATH
/bin.*
/docs
/*.exe

/go.mod
/go.sum
/vendor

/*.ini

